{% extends 'baseback.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ParticipantNames</th>
                <th>ContactEmail</th>
                <th>Contactphone</th>
                <th>ReservationDate</th>
                <th>NumberOfAttends</th>
                <th>PaymentStatus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.participantName.nom }} {{ reservation.participantName.prenom }}</td>
                <td>{{ reservation.contactEmail }}</td>
                <td>{{ reservation.contactphone }}</td>
                <td>{{ reservation.reservationDate ? reservation.reservationDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.numberOfAttends }}</td>
                <td>{{ reservation.paymentStatus }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
