{% extends 'baseback.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Participant Names</th>
                <th>Contact Email</th>
                <th>Contact Phone</th>
                <th>Reservation Date</th>
                <th>Number Of Attendees</th>
                <th>Payment Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>
                    {% if reservation.participantName %}
                        {{ reservation.participantName.nom }} {{ reservation.participantName.prenom }}
                    {% else %}
                        No participant assigned
                    {% endif %}
                </td>
                <td>{{ reservation.contactEmail }}</td>
                <td>{{ reservation.contactphone }}</td>
                <td>{{ reservation.reservationDate ? reservation.reservationDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.numberOfAttends }}</td>
                <td>{{ reservation.paymentStatus }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}