{% extends 'base.html.twig' %}

{% block title %}Elearning{% endblock %}

{% block body %}
    <h1>Elearning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ elearning.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ elearning.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ elearning.description }}</td>
            </tr>
            <tr>
                <th>Content Type</th>
                <td>{{ elearning.contentType }}</td>
            </tr>
            <tr>
                <th>Content URL</th>
                <td><a href="{{ elearning.contentUrl }}" target="_blank">{{ elearning.contentUrl }}</a></td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ elearning.duration }}</td>
            </tr>
            <tr>
                <th>Difficulty Level</th>
                <td>{{ elearning.difficultyLevel }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ elearning.createdAt ? elearning.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{{ elearning.updatedAt ? elearning.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>s
                    {% if elearning.filePath %}
                        {% set fileExt = elearning.filePath|split('.')|last %}
                        {% if fileExt in ['png', 'jpeg', 'jpg'] %}
                            <img src="{{ asset('uploads/' ~ elearning.filePath) }}" alt="File" style="max-width: 200px;">
                        {% elseif fileExt == 'pdf' %}
                            <a href="{{ asset('uploads/' ~ elearning.filePath) }}" target="_blank">Download PDF</a>
                        {% else %}
                            <a href="{{ asset('uploads/' ~ elearning.filePath) }}" target="_blank">Download File</a>
                        {% endif %}
                    {% else %}
                        No file uploaded.
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_elearning_front') }}">Back to list</a>

{% endblock %}
