{% extends 'baseback.html.twig' %}

{% block title %}Workshop{% endblock %}

{% block body %}
    <h1>Workshop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workshop.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ workshop.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ workshop.date ? workshop.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ workshop.duration }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ workshop.location }}</td>
            </tr>
            <tr>
                <th>Instractor</th>
                <td>{{ workshop.instractor }}</td>
            </tr>
            <tr>
                <th>TargetAudience</th>
                <td>{{ workshop.targetAudience }}</td>
            </tr>
            <tr>
                <th>TopicsCovered</th>
                <td>{{ workshop.topicsCovered }}</td>
            </tr>
            <tr>
                <th>MaterialsProvided</th>
                <td>{{ workshop.materialsProvided }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_workshop_index') }}">back to list</a>

    <a href="{{ path('app_workshop_edit', {'id': workshop.id}) }}">edit</a>

    {{ include('workshop/_delete_form.html.twig') }}
{% endblock %}
