

{% extends 'baseback.html.twig' %}

{% block title %}Conseil{% endblock %}

{% block body %}
    <h1>Conseil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conseil.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ conseil.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ conseil.contenu }}</td>
            </tr>
            <tr>
                <th>DatePublication</th>
                <td>{{ conseil.datePublication ? conseil.datePublication|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ conseil.note }}</td>
            </tr>
        </tbody>
    </table>

   <a href="{{ path('app_conseil_index') }}" class="btn btn-outline-secondary">Back to list</a>
        <a href="{{ path('app_conseil_edit', {'id': conseil.id}) }}" class="btn btn-outline-primary">Edit</a>
        <form method="post" action="{{ path('app_conseil_delete', {'id': conseil.id}) }}" style="display:inline-block;" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conseil.id) }}">
            <button class="btn btn-outline-danger">Delete</button>
{% endblock %}
